table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dfe2e5;
}

th,
td {
    padding: 8px 16px;
    border: 1px solid #dfe2e5;
}

th {
    font-weight: bold;
    background-color: #f6f8fa;
}

tbody tr:nth-of-type(odd) {
    background-color: #f6f8fa;
}