.*
!.githooks/
!.github/
!.run/
!.cargo/
!.dockerignore
!.env.sample
**/*.rs.bk
*.code-workspace
target
libs/shamir-sharing/target/
tests/**/logs
!tests/**/logs/chrome-trace/.gitkeep
!tests/**/logs/json-log/.gitkeep
!tests/**/logs/stdout/.gitkeep
!tests/**/logs/stderr/.gitkeep
tests/resources/csv
docker/volumes/csv
docker/volumes/outputs
tools/load-tool/reports/scripts/reports
tools/load-tool/reports/outputs
tests/bandwidth/reports/scripts/bandwidth-test-venv
tests/bandwidth/reports/outputs
tests/resources/bandwidth/inputs
tests/resources/bandwidth/reports
tests/resources/blinding-factors
tests/e2e/templates/programs/*
# Prevent accidentally commit the build version of nada_dsl
nada-lang/nada_dsl/nada_dsl/version.py
# Prevent accidentally commit compiled nada files
*.nada.bin

# Prevent accidentaly commit ABI3 files
*.abi3.so

# Cargo.lock files
Cargo.lock
!/Cargo.lock
!wasm-workspace/Cargo.lock

# Docs
nada-lang/nada_dsl/docs/_build/*
tmp/

# js and wasm stuff
*.tgz
dist
node_modules
package-lock.json
# generated protobuf types
wasm-workspace/client/bindings/js-browser/src/proto/nilchain.ts
wasm-workspace/client/bindings/js-browser/docs
wasm-workspace/tests/functional/js-client-jasmine/package.json
wasm-workspace/tests/functional/js-client-jasmine/src/fixture/*.json
!wasm-workspace/client/bindings/js-browser/.npmignore
!wasm-workspace/client/bindings/js-browser/package-lock.json

# python
*.pyc
__pycache__
venv
virtualenv
# python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
nada-lang/nada_dsl/nada_dsl/version.py

# IntelliJ IDEA
*.iml

# cargo code coverage stuff
*.profraw

# rusty tags
**/rusty-tags.vi
# log files
*.log
*.out

# logs
libs/wasm-logger-ws/**/*log
index.html
nada-auto-test.xml

tools/smart-contract-deployer/config/devnet*.yaml
tools/smart-contract-deployer/config/testnet*.yaml
tools/smart-contract-deployer/output/*.yaml
