from nada_dsl import *


def nada_main():
    party1 = Party(name="Dealer")
    a = {{ type1 }}(Input(name="A_SMALL", party=party1))
    b = {{ type2 }}(Input(name="B_SMALL", party=party1))
    
    result = 0
    if Integer(123) == Integer(456):
        result = a + b + Integer(1)
    else:
        result = a + b
    return [Output(result, "result", party1)]
