from nada_dsl import *


def nada_main():
    party1 = Party(name="Dealer")

    my_int = SecretInteger(Input(name="A", party=party1))
    my_random = SecretInteger.random()

    output = my_int + my_random

    return [Output(output, "my_output", party1)]