from nada_dsl import *


def nada_main():
    party1 = Party(name="Dealer")
    a = {{ type }}(Input(name="A", party=party1))
    b = {{ type }}(Input(name="B", party=party1))

    result = (a + b) << UnsignedInteger(1)

    return [Output(result, "result", party1)]